<!-- contactos.html -->

{% extends 'portfolio/layout.html' %}

{% block main %}

{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/contactos.css' %}">

<div class="contactos">

    <div class="imagem">
        <img src="{% static 'portfolio/images/200.gif' %}">
    </div>

    <h1> Odivelas </h1>

    <div class="flexbox">
        <div class="github">
            <a href="https://github.com/sofia-22104464">
                <img src="{% static 'portfolio/images/githublogo.png' %}">
            </a>
        </div>
    </div>
</div>

{% endblock %}