{% extends 'portfolio/layout.html' %}
{% load static %}

{% block main %}
	<h2 id="space">Olá, bem-vindos ao meu portfólio</h2>
    <link rel="stylesheet" href="{% static 'portfolio/css/home.css' %}">

      <article class="primeiro">
    <p> Sou a Sofia, estou em Engenharia Informática por sempre gostar muito de tudo relacionados a tecnologias e querer saber mais de como tudo funciona.
    Tenho gostado muito de aprender especialmente programação e por isso gostava de ser algo que explorasse mais depois de acabar o curso.</p>
      Estou ainda a deixar as minhas opções abertas sobre o que fazer depois do curso visto poder ir por tantos caminhos e haver tantos caminhos interessantes por onde poder escolher.
      Não surpreendente para um aluno desta área gosto bastante de jogar jogos de computador nos meus tempos livres.
  </article>
{% endblock %}