<!-- home.html -->

{% extends 'portfolio/layout.html' %}

{% block main %}
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/home.css' %}">
    <main>
        <h2>Estudante de Engenharia Informática</h2>
    </main>

    <article class="primeiro">
    <br>
        <br>
        <br>
        <p><b><i>Introdução</i></b>
            <br>
            <br>
            <br> Sou a Sofia, como dito a cima estudo na Universidade Lusófona de Humanidades e Tecnologias e estou no curso de Engenharia Informática,
         área cujo a qual sempre tive muito interesse, interesse esse que apenas tem aumentado à medida que adquiro novas competências com as coisas que aprendo. </p>
    No meu portfolio vão poder encontrar um compilado dessas mesmas competências, como outras coisas incluindo o meu background, projetos e outros.
    </article>
    <article class="segundo">
    </article>
{% endblock %}