{% extends 'portfolio/layout.html' %}
{% load static %}

{% block main %}
    <link rel="stylesheet" href="{% static 'portfolio/css/projects.css' %}">
	<h2 id="background">Projetos</h2>
    <h3 id="background">Algoritmia e Estrutura de Dados</h3>
    <p id="background">Consistia em replicar um jogo da glória, sendo que vários de abismos ou poderes eram aplicados a métodos de programação em Java.</p>
    <a id="background" href="https://github.com/sofia-22104464/LP2-a22104464-a21807126">ProjetoAED</a>
    <p id="background">Na mesma disciplina foi feito um 'Paint' como nota bonus</p>
    <a id="background" href="https://github.com/ULHT-LP2-2021-22-Paint/paint-episodio-1-sofia-22104464">Link para a primeira parte do Paint<br></a>
    <a id="background" href="https://github.com/ULHT-LP2-2021-22-Paint/paint-episodio-2-sofia-22104464">Link para a segunda parte do Paint<br></a>
    <a id="background" href="url 'https://github.com/ULHT-LP2-2021-22-Paint/paint-episodio-3-sofia-22104464">Link para a terceira parte do Paint<br></a>
    <a id="background" href="url 'https://github.com/ULHT-LP2-2021-22-Paint/paint-episodio-4-sofia-22104464">Link para a quarta parte do Paint<br></a>
{% endblock %}