.container {
  background-color: rgb(238, 248, 248);
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  padding: 25px 100px;
}

.container div {
  float: left;
  width: 250px;   height: 150px;
  padding: 25px;
  background-color: white;
  border-radius: 10px;                 /* arredonda os cantos */
  box-shadow: 5px 5px 15px grey;
}

.after-box {
  clear: left;
  background-color: skyblue;
}

main{
  height: 100%
}

#margem{
  margin-top: 15px;
}

#mg{
  background: rgb(238, 248, 248);
  margin-top: 15px;
}